<h1 mat-dialog-title> Update task</h1>
<div mat-dialog-content>
    <div class="row">
        <form [formGroup]="taskUpdateForm">
            <div class="col-12 d-flex gap-2">
                <div class="col-4">
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field>
                        <mat-label>Priority</mat-label>
                        <!-- (selectionChange)="filterChange($event)" -->
                        <mat-select formControlName="priority" >
                          <mat-option  
                           *ngFor="let priority of priorities" [value]="priority.value">
                            {{priority.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-12 d-flex gap-2">
                <div class="col-4">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <!-- (selectionChange)="filterChange($event)" -->
                        <mat-select formControlName="status" >
                          <mat-option  
                           *ngFor="let stat of status" [value]="stat.value">
                            {{stat.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field>
                        <mat-label>Due date</mat-label>
                        <input matInput formControlName="dueDate">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="taskUpdateForm.value" cdkFocusInitial>Submit</button>
    </div>