<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <!-- <div class="col-2 profile border">
                <div class="profile_picture">
                    <div class="p-2 d-flex jsutify-content-center align-items-center">
                        <mat-icon>account_circle</mat-icon>
                        <label class="p-2"> Jai Jadhav</label>
                    </div>
                </div>
            </div> -->
      <div class="col-11 content border">
        <div class="d-flex justify-content-center align-items-center p-3">
          <h2 class="text-danger m-0" style="letter-spacing:1px; height:inherit">
            Todos
          </h2>
        </div>
        <hr class="m-auto w-80 text-center" style="width:80%">
        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList
          (cdkDropListDropped)="drop($event)" [cdkDropListData]="dataSource" [cdkDropListDisabled]="dragDisabled">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> Sr no</mat-header-cell>
            <mat-cell *matCellDef="let row  let i = index" (mousedown)="dragDisabled = false;"> {{i+1}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
            <mat-cell *matCellDef="let row" (mousedown)="dragDisabled = false;"> {{row.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let row" (mousedown)="dragDisabled = false;"> {{row.description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let row" (mousedown)="dragDisabled = false;"> {{row.status}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="priority">
            <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
            <mat-cell *matCellDef="let row" (mousedown)="dragDisabled = false;"> {{row.priority}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="dueDate">
            <mat-header-cell *matHeaderCellDef> Due date </mat-header-cell>
            <mat-cell *matCellDef="let row" (mousedown)="dragDisabled = false;"> {{row.dueDate}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row" class="gap-2"> 
              <mat-icon color="accent"(click)="view(row.id)">remove_red_eye</mat-icon>
              <mat-icon color="accent" (click)="edit(row)">edit</mat-icon>
              <mat-icon color="accent"(click)="delete(row)">
                {{row.status === Status.completed ? 'check_circle':'check_circle_outline'}}</mat-icon>
              <mat-icon color="primary" (click)="delete(row)">delete</mat-icon>
         
              <!-- <mat-icon color="accent"(click)="delete(row)">check_circle</mat-icon> -->
              
             </mat-cell>
            
          </ng-container>
          <!-- <ng-container matColumnDef="actions">
            <mat-header-cell > Actions </mat-header-cell>
            <mat-cell *matCellDef="let row" >
                 <button mat-raised-button >Edit</button> 
            </mat-cell>
        </ng-container>  -->
          <!-- Header and Row Declarations -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns:displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns">
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

        </mat-table>
      </div>

    </div>
  </div>
</div>