<div class="row" style="position: relative;">
    <mat-card class="card">
    <div class="col-12 d-flex justify-content-center main" *ngIf="taskDetail">
        <div class="col-6 heading" style="white-space: pre" >
            <label> Title : </label>
            <label> Description : </label>
            <label> Status : </label>
            <label> Priority : </label>
            <label> Due date : </label>
        </div>
        <div class="col-6 heading_data" >
            <label> {{taskDetail.title}}</label>
            <label> {{taskDetail.description}}</label>
            <label [ngClass]='[taskDetail.status]'> {{taskDetail.status}}</label>
            <label [ngClass]='[taskDetail.priority]'> {{taskDetail.priority}}</label>
            <label> {{taskDetail.dueDate}}</label>
        </div>
    </div>

    <div *ngIf="!taskDetail">
        NO DATA FOUND
    </div>
</mat-card>
</div>